/*!
 * @file
 * @group layout
 * @author Hampus Nordin <nordin.hampus@gmail.com>
 * @partial layout/_site-header.scss
 *
 * Contains overall structure.
 *
 * 1. Config - Configuration and variables
 * 2. Base - Basic structuring
 */


/*
 * 1. Config
 ***************/


/*
 * 2. Base
 ***************/

.site-header {
  background: #333;
  color: #eee;
  margin-bottom: 4em;
  padding-bottom: 1.5em;
  padding-top: 1.5em;
}

.site-title {
  display: inline-block;
  font-size: 18px;
  margin: 0;
}
