.promo-section
  %h1.promo-heading Message Cache
  %p.promo-message [...]

  .register-form
    %form{action: '/', method: 'POST'}
      .field.field-email
        %input.text-field{type: 'email'}

      .form-submit
        %button.button.button-submit Request account
  