.promo-section
  %h1.promo-heading Message Cache
  %p.promo-message [...]

  .register-form
    %form{action: '/request', method: 'POST'}
      .form-item
        %label.form-item__label{for: 'email'} Email
        %input#email.form-item__field{type: 'email', name: 'email'}

      .form-submit
        %button.button.button-submit Request account
  