@import "neat-helpers";

// Change the grid settings
$column: 90px;
$gutter: 30px;
$grid-columns: 12;
$max-width: 1200px;

// Define your breakpoints
$screen-large: new-breakpoint(min-width 1201px 8);
$screen: new-breakpoint(max-width 1200px 8);
$tablet: new-breakpoint(max-device-width 768px 8);
$mobile: new-breakpoint(max-device-width 480px 4);